{# @var area \ContentBlocks\Entity\ContentArea #}
{# @var iframeUrl string #}
{# @var enableReplace bool #}
{# @var enableImportExport bool #}
{# @var topbarActions array #}
<div class="cb-launcher"
     data-controller="cb-builder-launcher">
    <button type="button"
            class="cb-launcher__button"
            data-action="cb-builder-launcher#open">
        {{ 'cb.builder.open'|trans({}, 'content_blocks') }}
        {% if area.hasUnpublishedChanges %}
            <span class="cb-launcher__badge">
                {{ 'cb.builder.draft_pending'|trans({}, 'content_blocks') }}
            </span>
        {% endif %}
    </button>

    <dialog data-cb-builder-launcher-target="dialog"
            class="cb-builder-dialog"
            aria-label="{{ 'cb.builder.open'|trans({}, 'content_blocks') }}">
        {% include '@ContentBlocks/builder/shell.html.twig' with {
            area: area,
            iframeUrl: iframeUrl|default('about:blank'),
            enableReplace: enableReplace|default(true),
            enableImportExport: enableImportExport|default(true),
            topbarActions: topbarActions|default([]),
        } only %}
    </dialog>
</div>
